*{
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
body{
    background-color: rgb(136, 85, 27);
    width: 100%;
    margin: 0 auto;
}
footer{
    clear: both;
    background-color: rgb(42, 38, 31);
    color: rgb(200,200,200);
}
footer section{
    display: flex;
    width: 100%;
    background-color: rgb(42, 38, 31);
}
footer section article{
    width: 25%;
    float: left;
    background-color: rgb(42, 38, 31);
    padding-left: 5%;
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: rgb(150,150,150);
}
footer ul li a:hover{
    color: #dca24a;
}
iframe{
    border: none;
}
*{
    font-family: Damascus, Arial, sans-serif;
}
p{
    font-size: 1.15em;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.25em;
}
nav{
    font-size: 2em;
}
ul li{
    font-size: 1em;
}
img{
    box-shadow: #1c1916 10px 10px 10px;
}