*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    width: 100%;
    background-color: rgb(42, 38, 31);
    height: 80px;
}
nav ul{
    width: 100%;
    list-style: none;
    background-color: rgb(42, 38, 31);
    display: flex;
}
nav ul li{
    width: 23%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 38, 31);
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding-top: 20px;
    margin: 5px;
    width: 100%;
    height: 100%;
}
nav ul li a:hover{
    background-color: #1c1916;
    color: #dca24a;
}